{{#> layouts/base}}
  {{#*inline "content-block"}}
    <h1>This is the about page. test</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam iure ut sit obcaecati quo doloribus unde. Incidunt, iste. Veniam at magni repudiandae doloremque laboriosam praesentium aperiam sapiente nostrum sunt cum?
    </p>
  {{/inline}}
{{/layouts/base}}
